.bar {
    min-height: 41px;

    &__title {
        margin-bottom: 4px;
    }

    &__line {
        width: 100%;
        height: 10px;
        border: 1px solid #34495e;
        position: relative;

        &--filled {
            border: none;
            position: absolute;
            height: 8px;
        }
    }
}

.bar--health .bar__line--filled {
    background-color: #e74c3c;
}

.bar--thirst .bar__line--filled {
    background-color: #3498db; 
}

.bar--hunger .bar__line--filled {
    background-color: #e67e22;
}

.bar--fatigue .bar__line--filled {
    background-color: #95a5a6;
}
