.wrapper {
    background-color: white;
    padding: 20px;

    &__item {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {
	.wrapper {
		display: flex;
        flex-wrap: wrap;
        padding: 30px;

        &__item {
            margin-bottom: 34px;
        }
    }
}
