.table,
.tbody {
    width: 100%;
    display: block;
}

.heading {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.empty {
    margin-top: 50px;
    text-align: center;
}

@media (min-width: 768px) {
    .heading,
    .empty {
        width: 100%;
    }
}
