@font-face {
  	font-style: normal;
  	font-weight: 400;
	font-family: 'Roboto';
	  
  	font-display: swap;
  	src: url('./fonts/roboto.woff2') format('woff2'), url('./fonts/roboto.woff') format('woff');
}

@font-face {
  	font-style: normal;
  	font-weight: 500;
	font-family: 'Roboto';
	  
  	font-display: swap;
  	src: url('./fonts/robotomedium.woff2') format('woff2'), url('./fonts/robotomedium.woff') format('woff');
}

@font-face {
  	font-style: normal;
  	font-weight: 700;
	font-family: 'Roboto';
	 
  	font-display: swap;
  	src: url('./fonts/robotobold.woff2') format('woff2'), url('./fonts/robotobold.woff') format('woff');
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	min-height: 100%;

	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: black;
	font-family: 'Roboto', 'Arial', 'sans-serif';

	background-color: white;
	padding: 20px;
}

a {
	text-decoration: none;

	outline: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;

	white-space: nowrap;

	border: 0;

	clip: rect(0 0 0 0);
	clip-path: inset(100%);
}
