.controllist {
    padding: 20px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.7);
    padding-bottom: 3px;

    &__item {
        margin-bottom: 12px;
    }
}

@media (min-width: 768px) {
    .controllist {
        width: calc(50% - 20px);
        margin-left: 20px;
    }
}
